

/* RGB Color Gradiant R => 0 to 255 G => 0 to 255 B => 0 to 255 
Vist Link : https://www.w3schools.com/css/css_colors_rgb.asp
*/
#color-1
{  
    color: rgb(57, 0, 10);
    /* color: _____ ;  ==> it is used to color the text*/   
}
/* RGBA Color Gradiant R => 0 to 255 G => 0 to 255 B => 0 to 255 A => 0 to 1 eg : 0.1 , 0.2 , 0.3 , .... etc
*/
#color-2
{
    color: rgb(92, 53, 171, 0.5);
}
/* Hex Color Gradiant 00 to ff  hexadecimal code ==> 0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , a , b, c , d , e , f 
Value Follow : 00 , 01 , 02 , 03 , 04 , 05 , 06 , 07 , 08 , 09 , 0a , 0b , 0c , 0d , 0e , 0f 
  
  follow  first-value + sequence-of-hexadecimal-value
Vist Link : https://www.w3schools.com/css/css_colors_hex.asp
*/
#color-3
{
   color: #010100; 
}
/* HSL Color Gradiant H => Hue S => Saturation L => Lightness

H ==> 0 to 359 , 0
S ==> 0% to 100%
L ==> 0% to 100%

Vist Link : https://www.w3schools.com/css/css_colors_hsl.asp
*/
#color-4
{
    color: hsl(56, 100%, 46%);
}

#color-5
{
    color: #989898;
}
.paragraph-color-1
{
    color: #782011;
    font-size: 20px;
}
#paragraph-color-2
{
    color: hsl(255, 30%, 20%);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#paragraph-color-3
{
    color: rgb(255, 0, 0);
    font-size: 2em;
}
#paragraph-color-4
{
    color: rgba(200, 104, 89, 0.4);
    font-size: 30pt;
}
#paragraph-color-5
{
    color: #567829;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}