/* 

Background Propertys in Css

1) background-color : ______ ;
2) background-image : ______ ;
3) background-repeat : ______ ;
4) background-attachment : ______ ;
5) background-position : ______ ;
6) background-(Short Hand Propertys)

*/
/* body
{
    margin: 0px;
    padding: 0%;
} */

/* 
1) background-color: _______ ; ==> color the background of the particluar property
*/ 
.heading-background-1
{
    color: hsl(200, 58%, 40%);
    background-color: rgb(255, 200, 0);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 
2) background-image: url(image path define);  ==> add the background image
*/

#paragraph-background-1
{
    color: #ffffa1;
    background-image: url(/build/images/\(11\).jpg);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;  
}
h1.heading-background-1
{
    opacity: 0.5;
}
p#paragraph-background-1
{
    opacity: 1;
}


/* 
3) background-repeat: ______ ;    repeat-x ==> horiszontaly repeating Elements only body background image 
& repeat-y ==> verticaly repeating only body background image 
*/

h1.heading-background-2
{
    color: rgba(240, 40, 40, 0.741);
    background-color: hsl(355, 20%, 50%);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
    background-color: aqua;
    background-image: url(/build/images/\(11\).jpg);
    background-repeat: no-repeat;
    /* background-repeat: no-repeat;  ==> it's not repeat*/
    /* background-repeat: repeat-x;  ==> repeat x axis*/
    /* background-repeat: repeat-y;  ==> repeat y axis*/
    /* background-repeat: repeat;  ==> repeat x and y axis*/
}

#paragraph-background-2
{
    color: rgb(0, 0, 255);
    background-image: url(/build/logo/csslog.png);
    opacity: 0.6;
    font-size: 80px;
    background-repeat: repeat-x;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*  

4) background-attachment: ________ ;

fixed ==> Fix the position of the Element
scroll ==> scroll the position of the Element

*/
.heading-background-3
{
    color: rgb(20, 70, 19);
    font-size: 100px;
    background-image: url(/build/images/\(5\).jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
body
{
    background-attachment: scroll;
}

/* 

5) background-position: ______ ; 
right top
right bottom
left top
left bottom 

*/

#paragraph-background-3
{
    color: hsl(246, 87%, 38%);
    font-size: 70px;
    background-image: url(/build/images/\(18\).jpg);
    font-family: 'Courier New', Courier, monospace;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left top;
}

.heading-background-4
{
    color: pink;
    opacity: 0.7;
    background-image: url(/build/images/\(23\).jpg);
    background-size: 30%;
    background-position: right top;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-repeat: no-repeat;
}

#paragraph-background-4
{
    color: darkslategrey;
    opacity: 1;
    background-image: url(/build/images/\(15\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* 

ShortHand Method in Background

background: background-color-value background-image-value background-repeat-value background-attachment-value background-position-value

*/

.heading-background-5
{
    color: rgba(10, 236, 100, 0.8);
    /* ShortHand Model */
    background: #ff101a url(/build/images/\(7\).jpg) no-repeat fixed;
    font-size: 100px
}

#paragraph-background-5
{
    color: #ff101a;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(20, 36, 230) url(/build/images/\(26\).jpg) no-repeat scroll;

}