/* 

Background Propertys in Css

1) background-color : ______ ;
2) background-image : ______ ;
3) background-repeat : ______ ;
4) background-attachment : ______ ;
5) background-position : ______ ;
6) background-(Short Hand Propertys)

*/
/* body
{
    margin: 0px;
    padding: 0%;
} */

/* 
1) background-color ==> color the background of the particluar property
*/
.heading-background-1
{
    color: hsl(200, 58%, 40%);
    background-color: rgb(255, 200, 0);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#paragraph-background-1
{
    color: #ffffa1;
    background-image: url(/build/images/\(11\).jpg);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;  
}
h1.heading-background-1
{
    opacity: 0.5;
}
p#paragraph-background-1
{
    opacity: 0.3;
}

